.container-article {
  position: fixed;
  margin-top: 60px;
  height: 100vh;
  width: 100vw;
  padding: 40px;
  overflow: scroll;
  .row-all {
    width: 80%;
    margin: 0 auto;
    overflow: scroll;
  }
}

.row-pre {
  border: 1px solid #3eadfe;
  box-shadow: 10px 10px 15px -10px;
}

.input-field {
  overflow: scroll;
  textarea {
    height: 40vh;
  }
}

.row-pre2 {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  overflow: scroll;
  height: 10vh;
}




















// 画像投稿フォーム
.label-content{
  display: block;
  width: 720px;
  margin: 16px auto 0;
  height: 144px;
  background: #f5f5f5;
  border: 1px dashed #ccc;
  text-align: center;
  .fa{
    line-height: 144px;
    font-size: 30px;
    color: rgb(160, 160, 160);
  }
  // 画像選択のエラーメッセージエリア
  // &__error{
  //   margin-top: 20px;
  //   color: red;
  // }
}
#previews{
  display: flex;
  padding-top: 16px;
  .preview{
    display: flex;
    padding-top: 16px;
  }
}

.js-file_group{
font-size: 0;
}
.js_remove__btn{
text-align: center;
font-size: 20px;
}