.header
  .header__left
    OP-M
  .header__center
    .header__center__search
      %input{placeholder: "キーワードで検索"}
      %button 検索
  .header__right
    .header__right__login
      = link_to 'ログイン'
    .header__right__new
      = link_to '新規登録'
.content-1
  %h1 OP-M
  %h2 Output - manager
  %p アウトプットマネージャーは、日々の学習と学習時間を記録し、学習意欲の向上をサポートするサービスです。
.content-2
  How to use
.content-3
.content-4
.new-posts
.footer