* {
  box-sizing: border-box;
}

.header {
  background-color: #3e3e40;
  display: flex;
  height: 60px;
  width: 100%;
  position: fixed;
  z-index: 1;
  &__left {
    color: white;
    font-size: 30px;
    line-height: 60px;
    margin-left: 30px;
  }
  &__center {
    margin-left: 50px;
    line-height: 60px;
    width: 30%;
    input {
      width: 80%;
      height: 30px;
    }
    button {
      height: 30px;
      line-height: 30px;
      background-color: #eee;
    }
  }
  &__right {
    display: flex;
    line-height: 60px;
    position: absolute;
    right: 5%;
    &__login {
      margin-right: 10px;
      a {
        color: white;
      }
    }
    &__new {
      a {
        color: white;
      }
    }
  }
}

.content-1 {
  height: 600px;
  background-image: image-url('top/topmain.jpg');
  background-size: cover;
  color: white;
  padding-top: 200px;
  h1 {
    font-size: 50px;
    font-weight: bold;
    text-align: center;
  }
  h2 {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
  }
  p {
    text-align: center;
    margin-top: 50px;
  }
}

.content-2 {
  background-color: grey;
  height: 300px;
}

.content-3 {
  background-color:black;
  height: 300px;
}

.content-4 {
  background-color: red;
  height: 300px;
}

.new-posts {
  background-color: yellow;
  padding-top: 32px;
  padding-bottom: 32px;
  &__list {
    width: 50%;
    background-color: white;
    margin: 0 auto;
    &__inform {
      font-size: 26px;
      text-align: center;
      border-bottom: 1px solid #e8e8e8;
    }
    &__upper {
      margin-top: 10px;
      margin-bottom: 10px;
      &__box {
        display: flex;
        width: 100%;
        border-bottom: 1px solid #e8e8e8;
        &__left {
          overflow: hidden;
          border-radius: 0.2em;
          width: 40px;
          height: 40px;
          flex-shrink: 0;
          margin-top: 2px;
          margin-right: 8px;
          background-color: blue;
          img {
            width: 40px;
            height: 40px;
          }
        }
        &__right {
          flex: 1;
          &__title {
            font-size: 1.6rem;
            font-weight: bold;
            line-height: 1.4;
          }
          &__box {
            color: #999;
            font-size: 0.9em;
            display: flex;
            &__now {
              margin-left: 20px;
            }
          }
        }
      }
    }
  }
}

.footer {
  background-color: #3e3e3e;
  padding: 16px 8px;
  height: 100px;
  text-align: center;
  .footers {
    &__title {
      font-size: 30px;
      color:#eee;
      font-weight: bold;
    }
    &__message {
      justify-content: center;
      display: flex;
      color: #eee;
      margin-top: 10px;
      &__1 {
        margin-right: 10px;
      }
    }
  }
}