.side {
  width: 300px;
  height: 100vh;
  float: left;
  background-color: #3e3e3e;
  padding: 30px 30px 0 30px;
  margin-top: 60px;
  z-index: 1;
  position: fixed;
  .side-menu {
    &__1 {
     &__link {
       width: 240px;
       height: 40px;
       background-color: grey;
       display: flex;
       justify-content: left;
       &__icon {
         color: white;
         font-size: 20px;
         line-height: 40px;
         margin-left: 20px;
       }
       &__name {
         color: white;
         line-height: 40px;
         margin-left: 20px;
       }
     }
    }
    &__2 {
      &__link {
        margin-top: 30px;
        width: 240px;
        height: 40px;
        background-color: grey;
        display: flex;
        justify-content: left;
        &__icon {
          color: white;
          font-size: 20px;
          line-height: 40px;
          margin-left: 20px;
        }
        &__name {
          color: white;
          line-height: 40px;
          margin-left: 20px;
        }
      }
     }
     &__3 {
      &__link {
        margin-top: 30px;
        width: 240px;
        height: 40px;
        background-color: grey;
        display: flex;
        justify-content: left;
        &__icon {
          color: white;
          font-size: 20px;
          line-height: 40px;
          margin-left: 20px;
        }
        &__name {
          color: white;
          line-height: 40px;
          margin-left: 20px;
        }
      }
     }
     &__4 {
      &__link {
        margin-top: 30px;
        width: 240px;
        height: 40px;
        background-color: grey;
        display: flex;
        justify-content: left;
        &__icon {
          color: white;
          font-size: 20px;
          line-height: 40px;
          margin-left: 20px;
        }
        &__name {
          color: white;
          line-height: 40px;
          margin-left: 20px;
        }
      }
     }

     &__5 {
      &__link {
        margin-top: 30px;
        width: 240px;
        height: 40px;
        background-color: grey;
        display: flex;
        justify-content: left;
        &__icon {
          color: white;
          font-size: 20px;
          line-height: 40px;
          margin-left: 20px;
        }
        &__name {
          color: white;
          line-height: 40px;
          margin-left: 20px;
        }
      }
     }

     &__6 {
      &__link {
        margin-top: 30px;
        width: 240px;
        height: 40px;
        background-color: grey;
        display: flex;
        justify-content: left;
        &__icon {
          color: white;
          font-size: 20px;
          line-height: 40px;
          margin-left: 20px;
        }
        &__name {
          color: white;
          line-height: 40px;
          margin-left: 20px;
        }
      }
     }



  }
}









.main {
  width: calc(100vw - 300px);
  height: 100vh;
  float: left;
  margin-left: 300px;
  margin-top: 60px;
  position: fixed;
}

#title {
  height: 100vh;
  width: 500px;
  border-right: #3e3e3e 3px solid;
  padding-top: 20px;
  position: absolute;
  overflow: scroll;
  h1.title {
    font-size: 33px;
    font-weight: bold;
    text-align: center;
  }
}

.row {
  height: 100vh;
  .col.s4.m6 {
    width: 500px;
    margin-bottom: 20px;
    font-size: 25px;
    border-bottom: 1px solid #3e3e3e;
    font-weight: bold;
    .card {
      display: flex;
      justify-content: space-between;
      overflow-x: scroll;
      span.card-title {
        margin-left: 10px;
      }
      .content-box {
        display: flex;
        margin-right: 10px;
        button {
          margin-right: 10px;
          background-color: #ffffff;
        }
      }
    }
  }
  .col.s12.m12{
    background-color: green;
    width: calc(100vw - 800px);
    height: 100vh;
    float: right;
    position: absolute;
    top: 0px;
    right: 0px;
    overflow: scroll;

  }
}

.card-content.white-text{
  .card-title {
    overflow-x: scroll;
    text-align: center;
    border-bottom: 1px solid #3e3e3e;
    font-weight: bold;
  }
  .today {
    display: flex;
    font-size: 20px;
    margin-top: 20px;
  }
  .time {
    display: flex;
    font-size: 20px;
    margin-top: 20px;
  }
  .memo {
    margin-top: 20px;
    font-size: 20px;
  }
}

.detail-label-3 {
  position: relative;
  margin: 2em 0;
  padding: 0.5em 1em;
  border: solid 3px #3f3f3f;
}
.detail-label-3 .box-title {
  position: absolute;
  display: inline-block;
  top: -27px;
  left: -3px;
  padding: 0 9px;
  height: 25px;
  line-height: 25px;
  font-size: 20px;
  background: #3f3f3f;
  color: #ffffff;
  font-weight: bold;
  border-radius: 5px 5px 0 0;
}
.detail-3 p {
  margin: 0; 
  padding: 0;
}