.mylike {
  width: calc(100vw - 300px);
  height: 100vh;
  margin-top: 60px;
  float: right;
  position: fixed;
  background-color:#ccf2e6;
  right: 0;
}

.like-posts {
  background-color: #ccf2e6;
  padding-top: 32px;
  padding-bottom: 32px;
  &__list {
    width: 50%;
    background-color: white;
    margin: 0 auto;
    &__inform {
      font-size: 26px;
      text-align: center;
      border-bottom: 1px solid #e8e8e8;
    }
    &__upper {
      margin-top: 10px;
      margin-bottom: 10px;
      &__box {
        display: flex;
        width: 100%;
        border-bottom: 1px solid #e8e8e8;
        &__left {
          overflow: hidden;
          border-radius: 0.2em;
          width: 40px;
          height: 40px;
          flex-shrink: 0;
          margin-top: 2px;
          margin-right: 8px;
          background-color:white;
          img {
            width: 40px;
            height: 40px;
          }
        }
        &__right {
          flex: 1;
          &__title {
            font-size: 1.6rem;
            font-weight: bold;
            line-height: 1.4;
          }
          &__box {
            color: #999;
            font-size: 0.9em;
            display: flex;
            &__now {
              margin-left: 20px;
            }
          }
        }
      }
    }
  }
}

.page {
  .pagination{
    background-color: grey;
  }
}