.logout {
 height: 100vh;
 width: calc(100vw - 300px);
 background-color: #ccf2e6;
 margin-top: 60px;
 position: fixed;
 right: 0;
  &__contents {
    width: 50%;
    &__head {
      text-align: center;
      font-size: 40px;
      color: #444444;
      border-bottom: solid 2px #444444;
    }
  }
}